* {
  box-sizing: border-box;
}
body {
  background-color: rgb(52, 99, 42);
}
h1 {
  margin: 0px;
  text-align: center;
  font-family: 'lobster', 'sans-serif';
  color: rgb(180, 180, 180);
}
h2 {
  text-align: center;
  color: rgb(180, 180, 180);
  margin: 5px;
}
.container {
  display: block;
  margin: 0 auto;
  text-align: center;
  min-width: 782px;
}
.playerBoxes {
  display: inline-block;
  border: 3px solid black;
  height: 130px;
  width: 90px;
  margin: 0 30px
}
#playerOneCard {
  height: 127px;
  width: 87px;
}
#circle {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
}
