* {
  box-sizing: border-box;
}
body {
  display: block;
  margin: 0 auto;
  text-align: center;
  min-width: 782px;
}
header {
  background-color: rgb(73, 118, 64);
  text-align: center;
  margin: 0;
  padding: 0;
  border: 0;
  min-width: 1017px;
}
li {
  display: inline-block;
  margin: 5px 20px
}
a {
  color: rgb(180, 180, 180);
  font-family: 'Indie Flower', sans-serif;
  font-size: 2em;
}
main {
  background-color: rgb(52, 99, 42);
  display: block;
  margin: 0 auto;
  text-align: center;
  min-width: 1017px;
}
#board {
  display: block;
  margin: 0 auto;
  text-align: center;
  min-width: 1017px;
}
h1 {
  margin: 0px;
  text-align: center;
  font-family: 'lobster', 'sans-serif';
  color: rgb(180, 180, 180);
  min-width: 1017px;
}
#startRound {
  width: 100px;
  border: 3px solid black;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  display: inline-block;
  background-color: rgb(73, 118, 64);
  font-family: 'lobster', 'sans-serif';
  position: absolute;
  left: 17%;
  top: 262px;
  font-size: 2em;
}
#dealerChipsAndShoe {
  position: relative;
  margin: 10px 0 0 0;
}
#dealerChips {
  position: relative;
  display: inline-block;
}
#shoeHeader {
  position: absolute;
  top: 0px;
  right: 10px;
  font-family: 'Slabo 27px', sans-serif;
  color: rgb(180, 180, 180);
  font-size: 1.3em;
}
#shoeCounter {
  position: absolute;
  top: 50px;
  right: 95px;
  font-family: 'Slabo 27px', sans-serif;
  color: rgb(180, 180, 180);
  font-size: 2em;
}
h2 {
  text-align: center;
  color: rgb(180, 180, 180);
  min-width: 1017px;
  margin: 7px 0;
  font-family: 'Slabo 27px', sans-serif;
}
#dealerTotal {
  display: block;
  width: 280px;
  text-align: center;
  border: 3px solid black;
  margin: 0 auto;
  background-color: rgb(73, 118, 64);
  font-family: 'lobster', 'sans-serif';
  border-radius: 8px;
  font-size: 2em;
}
#dealerArea {
  display: inline-block;
  border: 3px solid black;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto 3px auto;
  background-color: rgb(73, 118, 64);
  font-family: 'lobster', 'sans-serif';
  text-align: center;
  padding: 33.5px 0 33.5px 0;
  border-radius: 8px;
  position: relative;
}
#defaultDealerText {
  font-size: 3em;
}
.dealerCards {
  height: 130px;
  width: 90px;
  position: absolute;
}
#hiddenDealerCard {
  visibility: hidden;
}
#dealerCard1 {
  top: 0px;
  left: calc(3px + 4%);
  left: -webkit-calc(3px + 4%);
  left: -moz-calc(3px + 4%);
}
#dealerCard2 {
  top: 0px;
  left: calc(94px + 7.75%);
}
#dealerCard2Blank {
  top: 0px;
  left: calc(94px + 7.75%);
  visibility: hidden;
  background-image: url("images/backPlayingCard.png");
  background-size: cover;
}
#dealerCard3 {
  top: 0px;
  left: calc(185px + 11.5%);
}
#dealerCard4 {
  top: 0px;
  left: calc(276px + 15.25%);
}
#dealerCard5 {
  top: 0px;
  left: calc(367px + 19%);
}
#dealerCard6 {
  top: 0px;
  left: calc(458px + 19%);
}
#dealerCard7 {
  top: 0px;
  left: calc(472px + 19%);
}
#dealerCard8 {
  top: 0px;
  left: calc(486px + 19%);
}
#dealerCard9 {
  top: 0px;
  left: calc(500px + 19%);
}
#dealerCard10 {
  top: 0px;
  left: calc(514px + 20%);
}
.isPlayer {
  display: none;
}
.playerArea, .chips, .totals, .betAmount, .turnContainer, .PlayerNumber {
  display: flex;
  margin: 0 auto;
  text-align: center;
  min-width: 1017px;
}
.playerArea {
  position: relative;
}
.playerBoxes {
  display: inline-block;
  border: 3px solid black;
  height: 130px;
  width: 90px;
  margin: 0 auto;
  background-color: rgb(73, 118, 64);
  position: relative;
}
.playerOne, .playerTwo, .playerThree, .playerFour, .playerFive {
  display: inline-block;
  border: 3px solid black;
  height: 130px;
  width: 90px;
  margin: 0 auto;
  background-color: rgb(73, 118, 64);
  position: relative;
}
.extraBoxes {
  position: absolute;
  height: 130px;
  width: 90px;
}
#playerOneBoxOne, #playerTwoBoxOne, #playerThreeBoxOne, #playerFourBoxOne, #playerFiveBoxOne {
  left: -33px;
}
#playerOneBoxTwo, #playerTwoBoxTwo, #playerThreeBoxTwo, #playerFourBoxTwo, #playerFiveBoxTwo {
  left: -12px;
}
#playerOneBoxThree, #playerTwoBoxThree, #playerThreeBoxThree, #playerFourBoxThree, #playerFiveBoxThree {
  left: 9px;
}
#playerOneBoxFour, #playerTwoBoxFour, #playerThreeBoxFour, #playerFourBoxFour, #playerFiveBoxFour {
  left: 30px;
}
#playerOneBoxFive, #playerTwoBoxFive, #playerThreeBoxFive, #playerFourBoxFive, #playerFiveBoxFive {
  left: 51px;
}
.betNoMargin {
  width: 80px;
  border: 3px solid black;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  display: inline-block;
  margin: 2px auto;
  background-color: rgb(73, 118, 64);
  font-family: 'lobster', 'sans-serif';
  position: relative;
}
#stand1, #double1, #stand2, #double2, #stand3, #double3, #stand4, #double4, #stand5, #double5 {
  position: absolute;
  background-color: rgb(73, 118, 64);
  border: 3px solid black;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  width: 55px;
  bottom: 53px;
}
#double1, #double2, #double3, #double4, #double5 {
  left: 37px;
}
#stand1, #stand2, #stand3, #stand4, #stand5 {
  left: -20px;
}

.circle, .whoseTurn {
    width: 60px;
    border: 3px solid black;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    display: inline-block;
    background-color: rgb(73, 118, 64);
    font-family: 'lobster', 'sans-serif';
}
.circle {
  margin: 30px auto 0px auto;
}
.whoseTurn {
  margin: 0 auto;
  height: 30px;
}
.split {
  margin: 0 auto 3px auto;
}
.hideSplit {
  display: none;
}
.totalDisplayed {
  display: inline-block;
  height: 50px;
  width: 120px;
  margin: 0 auto;
  font-family: 'lobster', 'sans-serif';
  font-size: 2em;
}
#playerCard {
  height: 127px;
  width: 87px;
}

#bottomBar {
  background-image: url("images/black_felt.jpg");
  background-repeat: repeat-x;
  height: 20px;
  background-color: black;
  border-radius: 3px;
}

footer {
  background-color: rgb(120, 120, 120);
  height: 80px;
  text-align: center;
  min-width: 1017px;
}
#madeBy {
  font-family: 'Indie Flower', sans-serif;
  text-align: center;
  display: inline-block;
  background-color: rgb(100, 100, 100);
  border-radius: 10px;
  padding: 0px 5px
}
a#contact {
  color: rgb(180, 180, 180);
  font-family: 'Indie Flower', sans-serif;
  font-size: 1.2em;
}
